sudo: true
dist: trusty
cache: ccache

before_install:
  - sudo apt-get install -y g++ wget unzip

script:
  - git clone --branch=travis https://github.com/double-beep/asmFish.git C:\Projects\asmFish
  - cd C:\Projects\asmFish
  - wget --no-check-certificate flatassembler.net/fasmg.zip
  - unzip -o fasmg.zip
  - chmod u+x fasmg
  - ls -la
  - make all
