sudo: required
dist: trusty
os: osx

script:
- rm fasmg
- wget flatassembler.net/fasmg.zip
- unzip -o fasmg.zip
- cd source/macos
- chmod 755 fasmg
- mv fasmg ..
- cd..
- mv fasmg ..
- cd ..
- make all
