sudo: required
dist: trusty
os: osx

script:
- wget flatassembler.net/fasmg.zip
- unzip -o fasmg.zip
- cd source/macos
- chmod 755 fasmg
- mv fasmg $TRAVIS_BUILD_DIR
- cd $TRAVIS_BUILD_DIR
- export datestamp=`date +%Y-%m-%d`
- ./fasmg "x86/fish.asm" "asmFishX_${datestamp}_bmi2" -i "VERSION_OS = 'X'" -i "VERSION_POST = 'bmi2'"
- wget --no-check-certificate https://github.com/double-beep/asmFish/raw/BetterAppveyor/msys.sh
- wget --no-check-certificate "http://sourceforge.net/projects/mingw-w64/files/Toolchains targetting Win64/Personal Builds/mingw-builds/4.9.2/threads-posix/seh/x86_64-4.9.2-release-posix-seh-rt_v4-rev2.7z"
- git clone -q --branch=master https://github.com/official-stockfish/stockfish.git
- cd stockfish/src
- make clean && make -j2 ARCH=x86-64 optimize=no debug=yes build
- make strip
- mv stockfish stockfish1
- mv stockfish1 $TRAVIS_BUILD_DIR
- cd $TRAVIS_BUILD_DIR
- export
- chmod 755 stockfish1 asmFishX_${datestamp}_bmi2
- ./asmFishX_${datestamp}_bmi2 bench > asmX_base.txt
- ./stockfish1 bench > stockfish.txt
- export asmX=$(cat asmX.txt)
- export stockfish=$(cat stockfish.txt)
- if [ $stockfish -ne $asmX ]; then exit 1; fi

