sudo: true
dist: trusty
cache: ccache
os: linux

before_install:
  - sudo apt-get install perl
  - sudo apt-get upgrade wget

script:
  - git clone --branch=travis https://github.com/double-beep/asmFish.git C:/Projects/asmFish
  - cd C:/Projects/asmFish/
  - wget --no-check-certificate flatassembler.net/fasmg.zip
  - unzip -o fasmg.zip
  - ls -la
  - chmod 755 fasmg
  - chmod 755 fasmg.exe
  - ls -la
  - ./fasmg.exe "x86/fish.asm"
