sudo: true
dist: precise
os: linux

script:
- git clone -q --branch=travis https://github.com/double-beep/asmFish.git C:/Projects/asmFish
- cd C:/Projects/asmFish
- chmod 755 fasmg
- PATH=$PATH:C:/Projects/asmFish:C:/Projects/asmFish/x86/include
- export PATH
- ./fasmg "x86/fish.asm"
