sudo: required
dist: trusty
os: osx

script:
- rm fasmg
- wget flatassembler.net/fasmg.zip
- unzip -o fasmg.zip
- cd source/macos
- chmod 755 fasmg
- mv fasmg ..
- cd ..
- mv fasmg ..
- cd ..
- make all
- wget --no-check-certificate https://github.com/double-beep/asmFish/raw/BetterAppveyor/msys.sh
- wget --no-check-certificate "http://sourceforge.net/projects/mingw-w64/files/Toolchains targetting Win64/Personal Builds/mingw-builds/4.9.2/threads-posix/seh/x86_64-4.9.2-release-posix-seh-rt_v4-rev2.7z"
- git clone -q --branch=master https://github.com/official-stockfish/stockfish.git
- ls -la
- cd stockfish/src
- sudo apt-get install g++-7 g++-7-multilib g++-multilib valgrind expect curl
- make profile-build ARCH=x86-64-bmi2 COMP=mingw
- make strip
- mv stockfish ..
- cd ..
- mv stockfish ..
- cd ..
- export datestamp=`date +%Y-%m-%d`
- export
- ./asmFishX_${datestamp} bench > asmX_base.txt
- ./stockfish bench > stockfish.txt
- export asmX=$(cat asmX.txt)
- export stockfish=$(cat stockfish.txt)
- if [ $stockfish -ne $asmX ]; then exit 1; fi
