version: 1.{build}
clone_folder: C:\Projects\asmFish

image:
- Ubuntu
- Visual Studio 2015

platform:
  - x86
  - x64
  
matrix:
  # The build fail immediately once one of the job fails
  fast_finish: false

build_script:
- cmd: if %CI_WINDOWS%=="True" ( echo Windows! ) else ( echo Linux! )

test_script:

- cmd: >-
    cd WindowsOS_binaries
            asmFishW_%datestamp%_bmi2.exe bench
            asmFishW_%datestamp%_popcnt.exe bench
            asmFishW_%datestamp%_base.exe bench
            cd..
    
    cd Matefinder_binaries
            mateFishW_%datestamp%_bmi2.exe bench
            mateFishW_%datestamp%_popcnt.exe bench
            mateFishW_%datestamp%_base.exe bench
            cd..

artifacts:
- path: WindowsOS_binaries
  name: Windows
- path: Matefinder_binaries
  name: Matefinder
- path: LinuxOS_binaries
  name: Linux
- path: MacOS_binaries
  name: Mac
