version: 1.{build}

image:
- Ubuntu
- Visual Studio 2015

clone_folder: C:\Projects\asmFish

platform:
  - x64
  
matrix:
  fast_finish: false

build: off

test_script:

- ps: |
    if ($isLinux)
    {
      $debug = 2
      $datestamp = Get-Date -UFormat "%Y-%m-%d
      Include 'x86\include'
      .\fasmg "x86\fish.asm" "asmFishL_${datestamp}_popcnt" -e 1000 -i "VERSION_OS='L'" -i "PEDANTIC = 1" -i "VERSION_POST = 'popcnt'" $debug
      .\fasmg "x86\fish.asm" "asmFishL_${datestamp}_bmi1" -e 1000 -i "VERSION_OS='L'" -i "PEDANTIC = 1" -i "VERSION_POST = 'bmi1'" $debug
      .\fasmg "x86\fish.asm" "asmFishL_${datestamp}_bmi2" -e 1000 -i "VERSION_OS='L'" -i "PEDANTIC = 1" -i "VERSION_POST = 'bmi2'" $debug
      .\fasmg "x86\fish.asm" "asmFishL_${datestamp}_base" -e 1000 -i "VERSION_OS='L'" -i "PEDANTIC = 1" -i "VERSION_POST = 'base'" $debug
      .\fasmg "x86\fish.asm" "mateFishL_${datestamp}_base" -e 1000 -i "VERSION_OS='L'" -i "PEDANTIC = 1" -i "VERSION_POST = 'base'" -i "USE_MATEFINDER = 1" $debug
      .\fasmg "x86\fish.asm" "mateFishL_${datestamp}_popcnt" -e 1000 -i "VERSION_OS='L'" -i "VERSION_POST = 'popcnt'" -i "USE_MATEFINDER = 1" $debug
      .\fasmg "x86\fish.asm" "mateFishL_${datestamp}_bmi1" -e 1000 -i "VERSION_OS='L'" -i "VERSION_POST = 'bmi1'" -i "USE_MATEFINDER = 1" $debug
      .\fasmg "x86\fish.asm" "mateFishL_${datestamp}_bmi2" -e 1000 -i "VERSION_OS='L'" -i "VERSION_POST = 'bmi2'" -i "USE_MATEFINDER = 1" $debug
      Include 'arm\include'
      .\fasmg "arm\fish.arm" "armFishL_${datestamp}_v8" -e 1000 -i "VERSION_OS='L'" -i "PEDANTIC = 1" -i "VERSION_POST = 'v8'" $debug
      .\asmFishL_${datestamp}_popcnt bench
      .\armFishL_${datestamp}_v8 bench
    }
    else
    {
      Write-Host "Hey, not windows here!"
    }

artifacts:
- path: WindowsOS_binaries
  name: Windows
- path: Matefinder_binaries
  name: Matefinder
- path: LinuxOS_binaries
  name: Linux
- path: MacOS_binaries
  name: Mac
