version: 1.{build}

image:
- Ubuntu
- Visual Studio 2015

platform:
  - x64
  
matrix:
  fast_finish: false

install:
# Get flat assembler
- if exist fasm* del fasm*
- cinst wget
- wget --no-check-certificate flatassembler.net/fasmg.zip
- 7z x fasmg.zip fasm*

# Makefile (testing)
- del makefile
- wget --no-check-certificate github.com/lantonov/asmFish/raw/master/makefile

# Set datestamp and debug
- ps: |
    $datestamp = Get-Date -Format %Y-%m-%d
    $debug = 2
build_script:
# Replace lines of makefile as powershell could not assemble the executables
- ps: |
    if ($isLinux)
    {
    $file = 'C:\Projects\asmFish-i5x4k\makefile'
    $replaceF = './fasmg "arm/fish.arm" "armFishL_\$(now)_v8"         -i "VERSION_OS=\'L\'"'
    $replaceS = './fasmg "x86/fish.asm" "asmFishL_${datestamp}_popcnt" -e 1000 -i "VERSION_OS=\'L\'" -i "PEDANTIC = 1" -i "VERSION_POST = \'popcnt\'"'
    (Get-Content $file) -replace $replaceF, $replaceS | Set-Content $file
    $replaceF = './fasmg "x86/fish.asm" "asmFishL_\$(now)_base"       -i "VERSION_OS=\'L\'"'
    $replaceS = './fasmg "x86/fish.asm" "asmFishL_${datestamp}_bmi1" -e 1000 -i "VERSION_OS=\'L\'" -i "PEDANTIC = 1" -i "VERSION_POST = \'bmi1\'"'
    (Get-Content $file) -replace $replaceF, $replaceS | Set-Content $file
    $replaceF = './fasmg "x86/fish.asm" "asmFishL_\$(now)_popcnt"     -i "VERSION_OS=\'L\'" -i "VERSION_POST = \'popcnt\'"'
    $replaceS = './fasmg "x86/fish.asm" "asmFishL_${datestamp}_bmi1" -e 1000 -i "VERSION_OS=\'L\'" -i "PEDANTIC = 1" -i "VERSION_POST = \'bmi1\'"'
    (Get-Content $file) -replace $replaceF, $replaceS | Set-Content $file
    $replaceF = './fasmg "x86/fish.asm" "asmFishL_\$(now)_bmi2"       -i "VERSION_OS=\'L\'" -i "VERSION_POST = \'bmi2\'"'
    $replaceS = './fasmg "x86/fish.asm" "asmFishL_${datestamp}_bmi2" -e 1000 -i "VERSION_OS=\'L\'" -i "PEDANTIC = 1" -i "VERSION_POST = \'bmi2\'"'
    (Get-Content $file) -replace $replaceF, $replaceS | Set-Content $file
    $replaceF = './fasmg "x86/fish.asm" "asmFishW_\$(now)_base.exe"   -i "VERSION_OS=\'W\'"'
    $replaceS = './fasmg "arm/fish.arm" "armFishL_${datestamp}_v8" -e 1000 -i "VERSION_OS=\'L\'" -i "PEDANTIC = 1" -i "VERSION_POST = \'v8\'"'
    (Get-Content $file) -replace $replaceF, $replaceS | Set-Content $file
    $replaceF = './fasmg "x86/fish.asm" "asmFishW_\$(now)_popcnt.exe" -i "VERSION_OS=\'W\'" -i "VERSION_POST = \'popcnt\'"'
    $replaceS = './fasmg "x86/fish.asm" "asmFishL_${datestamp}_base" -e 1000 -i "VERSION_OS=\'L\'" -i "PEDANTIC = 1" -i "VERSION_POST = \'base\'"'
    (Get-Content $file) -replace $replaceF, $replaceS | Set-Content $file
    $replaceF = './fasmg "x86/fish.asm" "asmFishW_\$(now)_bmi2.exe"   -i "VERSION_OS=\'W\'" -i "VERSION_POST = \'bmi2\'"'
    $replaceS = './fasmg "x86/fish.asm" "mateFishL_${datestamp}_popcnt" -e 1000 -i "VERSION_OS=\'L\'" -i "VERSION_POST = \'popcnt\'" -i "USE_MATEFINDER = 1"'
    (Get-Content $file) -replace $replaceF, $replaceS | Set-Content $file
    $replaceF = './fasmg "x86/fish.asm" "asmFishX_\$(now)_base"       -i "VERSION_OS=\'X\'"'
    $replaceS = './fasmg "x86/fish.asm" "mateFishL_${datestamp}_bmi1" -e 1000 -i "VERSION_OS=\'L\'" -i "VERSION_POST = \'bmi1\'" -i "USE_MATEFINDER = 1"'
    (Get-Content $file) -replace $replaceF, $replaceS | Set-Content $file
    $replaceF = './fasmg "x86/fish.asm" "asmFishX_\$(now)_popcnt"     -i "VERSION_OS=\'X\'" -i "VERSION_POST = \'popcnt\'"'
    $replaceS = './fasmg "x86/fish.asm" "mateFishL_${datestamp}_bmi2" -e 1000 -i "VERSION_OS=\'L\'" -i "VERSION_POST = \'bmi2\'" -i "USE_MATEFINDER = 1"'
    (Get-Content $file) -replace $replaceF, $replaceS | Set-Content $file
    $replaceF = './fasmg "x86/fish.asm" "asmFishX_\$(now)_bmi2"       -i "VERSION_OS=\'X\'" -i "VERSION_POST = \'bmi2\'"'
    $replaceS = './fasmg "x86/fish.asm" "mateFishL_${datestamp}_base" -e 1000 -i "VERSION_OS=\'L\'" -i "PEDANTIC = 1" -i "VERSION_POST = \'base\'" -i "USE_MATEFINDER = 1"'
    (Get-Content $file) -replace $replaceF, $replaceS | Set-Content $file
    }


after_build:
# Compress all artifacts
- 7z a all_artifacts.zip WindowsOS_binaries LinuxOS_binaries MacOS_binaries Matefinder_binaries

artifacts:
- path: all_artifacts.zip
